Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [38]:
exp = [2200,2350, 2600,2130,2190]

In [39]:
#1
print ("Dollars spent in February more than january:", exp[1]-exp[0])

Dollars spent in February more than january: 150

In [41]:
#2
print ("Expense for the first quarter of 2024 is", exp[0]+exp[1]+exp[2])

Expense for the first quarter of 2024 is 7150

In [49]:
#3
print ( "Did I spent exactly 2000 dollars any month ?", 2000 in exp )

Did I spent exactly 2000 dollars any month ? False

In [57]:
#4
exp = [2200,2350,2600,2130,2190]
exp.append(1980)
print ("Expenses at the month of june", exp)

Expenses at the month of june [2200, 2350, 2600, 2130, 2190, 1980]

In [58]:
#5
exp[3] = exp[3] - 200
print ("Expenses after 200$ return in April", exp)

Expenses after 200$ return in April [2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [59]:
heros=['spider man','thor','hulk','iron man','captain america']

In [61]:
#1
len(heros)

5

In [63]:
#2
heros.append('black panther')
heros

['spider man',
 'thor',
 'hulk',
 'iron man',
 'captain america',
 'black panther',
 'black panther']

In [66]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [67]:
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [69]:
heros.insert(3, 'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [71]:
heros.replace([1],[2], 'doctor strange')

AttributeError: 'list' object has no attribute 'replace'

In [74]:
heros[1:3] = ['doctor strange']
print (heros)

['spider man', 'doctor strange', 'iron man', 'captain america']

In [75]:
heros.sort()
print(heros)

['captain america', 'doctor strange', 'iron man', 'spider man']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [81]:
max = int(input("Enter Max Number: "))
odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("dd_numbers: ", odd_numbers)

Enter Max Number:  100

dd_numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]