In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('scores.csv', names= ['players', 'scores'])
df.head(5)

  players  scores
0   rohit       9
1  shakib      56
2   babar      56
3   rohit     120
4   rohit     105

In [44]:
g = df.groupby('players')
g

In [45]:
for player, df_player in g:
    print (player, "==>", "Min:",df_player.scores.min(),
                          "Max:",df_player.scores.max(),
                          "Avg:",df_player.scores.mean())

babar ==> Min: 5 Max: 120 Avg: 58.6
rohit ==> Min: 9 Max: 140 Avg: 100.8
shakib ==> Min: 56 Max: 102 Avg: 77.0

In [46]:
dir(g)

['_DataFrameGroupBy__examples_dataframe_doc',
 '__annotations__',
 '__class__',
 '__class_getitem__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__orig_bases__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessors',
 '_agg_examples_doc',
 '_agg_general',
 '_agg_py_fallback',
 '_aggregate_frame',
 '_aggregate_with_numba',
 '_apply_filter',
 '_apply_to_column_groupbys',
 '_ascending_count',
 '_bool_agg',
 '_cache',
 '_choose_path',
 '_concat_objects',
 '_constructor',
 '_cumcount_array',
 '_cython_agg_general',
 '_cython_transform',
 '_define_paths',
 '_descending_count',
 '_dir_additions',
 '_dir_deletions',
 '_fill',
 '_get_cythonized_result',
 '_get_data_to_aggregate',
 '_get_index',
 '_get_indices',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_output_to_ndframe',
 '_insert_inaxis_grouper',
 '_internal_names',
 '_internal_names_set',
 '_is_protocol',
 '_iterate_column_groupbys',
 '_iterate_slices',
 '_make_mask_from_int',
 '_make_mask_from_list',
 '_make_mask_from_positional_indexer',
 '_make_mask_from_slice',
 '_make_mask_from_tuple',
 '_mask_selected_obj',
 '_maybe_transpose_result',
 '_nth',
 '_numba_agg_general',
 '_numba_prep',
 '_obj_1d_constructor',
 '_obj_with_exclusions',
 '_op_via_apply',
 '_positional_selector',
 '_python_agg_general',
 '_python_apply_general',
 '_reindex_output',
 '_reset_cache',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_set_result_index_ordered',
 '_transform',
 '_transform_general',
 '_transform_with_numba',
 '_value_counts',
 '_wrap_agged_manager',
 '_wrap_aggregated_output',
 '_wrap_applied_output',
 '_wrap_applied_output_series',
 '_wrap_transform_fast_result',
 'agg',
 'aggregate',
 'all',
 'any',
 'apply',
 'bfill',
 'boxplot',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'dtypes',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'get_group',
 'groups',
 'head',
 'hist',
 'idxmax',
 'idxmin',
 'indices',
 'last',
 'max',
 'mean',
 'median',
 'min',
 'ndim',
 'ngroup',
 'ngroups',
 'nth',
 'nunique',
 'ohlc',
 'pct_change',
 'pipe',
 'players',
 'plot',
 'prod',
 'quantile',
 'rank',
 'resample',
 'rolling',
 'sample',
 'scores',
 'sem',
 'shift',
 'size',
 'skew',
 'std',
 'sum',
 'tail',
 'take',
 'transform',
 'value_counts',
 'var']

In [47]:
g.size()

players
babar     5
rohit     5
shakib    4
dtype: int64

In [48]:
g.sample()

  players  scores
7   babar      45
0   rohit       9
1  shakib      56

In [49]:
g.value_counts()

players  scores
babar    5         1
         45        1
         56        1
         67        1
         120       1
rohit    9         1
         105       1
         120       1
         130       1
         140       1
shakib   56        1
         72        1
         78        1
         102       1
Name: count, dtype: int64

In [50]:
g.any()

         scores
players
babar      True
rohit      True
shakib     True

In [51]:
g.describe()

        scores
         count   mean        std   min    25%    50%    75%    max
players
babar      5.0   58.6  41.548767   5.0   45.0   56.0   67.0  120.0
rohit      5.0  100.8  52.921640   9.0  105.0  120.0  130.0  140.0
shakib     4.0   77.0  19.078784  56.0   68.0   75.0   84.0  102.0

In [52]:
g.skew()

           scores
players
babar    0.438851
rohit   -1.915357
shakib   0.599020

In [53]:
g= df.head(4)