In [10]:
1.#friend_list_tuples

def list_of_tuples(friends_list):
    new_list = []
    for friend in friends_list:
        friend_tuple = (friend, len(friend))
        new_list.append(friend_tuple)

    return new_list

In [11]:
#list of friends
friends = ['anupam','bindo','hari','mathesh','sivaraj','subi','nive']
list_of_tuples(friends)

[('anupam', 6),
 ('bindo', 5),
 ('hari', 4),
 ('mathesh', 7),
 ('sivaraj', 7),
 ('subi', 4),
 ('nive', 4)]

In [15]:
list_of_tuples(['karthik','bibishaa','nitish','dev'])

[('karthik', 7), ('bibishaa', 8), ('nitish', 6), ('dev', 3)]

In [17]:
# DICTIONARIES OF HUSBAND & WIFE EXPENSES

Your expenses -

Clothes - 1100
Shoes - 1000
Watch - 900
Mobile Recharge - 699
Petrol - 1980
Your Wifeâ€™s expenses -

Mobile Recharge - 799
DTH recharge - 999
Clothes - 2310
Makeup - 3670
Shoes - 999
A) Find out total expenses of each of you.
B) Find out who spending more
C) Find out in which thing you and your wife spending more

In [10]:
my_expenses = dict()
wife_expenses = dict()

In [14]:
my_expenses['Clothes'] = 100
my_expenses['Shoes'] = 1000
my_expenses['Watch'] = 900
my_expenses['Mobile Recharge'] = 699
my_expenses['Petrol'] = 1980

In [15]:
wife_expenses.update({
    'Mobile Recharge': 799,
    'DTH recharge': 999, 
    'Clothes': 2310,
    'Makeup': 3760,
    'Shoes': 999
})

In [18]:
my_expenses

{'Clothes': 100,
 'Shoes': 1000,
 'Watch': 900,
 'Mobile Recharge': 699,
 'Petrol': 1980}

In [17]:
wife_expenses

{'Mobile Recharge': 799,
 'DTH recharge': 999,
 'Clothes': 2310,
 'Makeup': 3760,
 'Shoes': 999}

In [35]:
# little Yoda's Analysis

# finding total expenses
total = 0
for key in my_expenses:
    total += my_expenses[key]

my_expenses['Total'] = total

In [36]:
total = 0
for key in wife_expenses:
    total += wife_expenses[key]

wife_expenses['Total'] = total

In [37]:
print (f"your total expenses are : {my_expenses['Total']}")

your total expenses are : 9358

In [38]:
print (f"your wife expenses are : {wife_expenses['Total']}")

your wife expenses are : 17734

In [39]:
total = my_expenses['Total'] + wife_expenses['Total']
print(total)

27092

In [43]:
# B. Finding who spend more

if my_expenses['Total'] > wife_expenses['Total']:
    print ("You have spent more than your wife")
else:
    print("Your wife has spent more than you")

Your wife has spent more than you

In [45]:
# c. finding expensive thing
# If we can sort the dictionary in increasing order or decreasing order
# we can find it easily

dir(my_expenses)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [53]:
def sort_the_dict(dictionary):
    sorted_dict = sorted(dictionary.items(), key=lambda kv:kv[1])

    return sorted_dict

In [54]:
sort_the_dict(my_expenses)

[('Clothes', 100),
 ('Mobile Recharge', 699),
 ('Watch', 900),
 ('Shoes', 1000),
 ('Petrol', 1980),
 ('Total', 9358)]

In [55]:
sort_the_dict(wife_expenses)

[('Mobile Recharge', 799),
 ('DTH recharge', 999),
 ('Shoes', 999),
 ('Clothes', 2310),
 ('Makeup', 3760),
 ('Total', 17734)]

In [58]:
print ("You have spent more on: ")
sort_the_dict(my_expenses)[-2]

You have spent more on:

('Petrol', 1980)

In [59]:
print("You have spent more on: ")
sort_the_dict(wife_expenses)[-2]

You have spent more on:

('Makeup', 3760)

It looks like you love to travel and your wife loves self beauty, beacuse you both spend on petrol and makeup respectively